@charset "UTF-8";

/* 메인 */
#full-content #profile-img {
    width: 300px;
    float: left;
    margin: 0px 30px 0px 0px;
}
#full-content #greetings {
    float: left;
}
#full-content #greetings #greet {
    margin: 0px 0px 20px 0px;
    font-size: 25px;
    font-weight: bold;
}
#full-content #greetings #desc {
    font-size: 20px;
}